<html>
<body>
<h3> About</h3>
<p> Hello. I am Garima, This is my CSP352 lab work.</p>
<p> I am food motivated, and pickles give me hope
 to complete my engineering course.</p>
<hr/>
<ul>
<a href="C:\Users\garima saha\OneDrive\Desktop\semester 6\CSP352\Templates\index.html" target="_blank"><img src="C:\Users\garima saha\OneDrive\Desktop\semester 6\CSP352\static\images\education.png"  width="144" height="144"></a>
<li><a href="C:\Users\garima saha\OneDrive\Desktop\semester 6\CSP352\Templates\index.html" target="_blank"><h3> Educational Details </h3></a></li>
<a href="C:\Users\garima saha\OneDrive\Desktop\semester 6\CSP352\Templates\index.html" target="_blank"><img src="C:\Users\garima saha\OneDrive\Desktop\semester 6\CSP352\static\images\certificate.png" width="144" height="144"></a>
<li><a href=" C:\Users\garima saha\OneDrive\Desktop\semester 6\CSP352\Templates\index.html" target="_blank"><h3> Certificates</h3></a></li>
<a href="C:\Users\garima saha\OneDrive\Desktop\semester 6\CSP352\Templates\index.html" target="_blank"><img src="C:\Users\garima saha\OneDrive\Desktop\semester 6\CSP352\static\images\project.png" width="144" height="144"></a>
<li><a href="C:\Users\garima saha\OneDrive\Desktop\semester 6\CSP352\Templates\index.html" target="_blank"><h3> Projects</h3></a></li>
<a href="C:\Users\garima saha\OneDrive\Desktop\semester 6\CSP352\Templates\table.html" target="_blank"><img src="C:\Users\garima saha\OneDrive\Desktop\semester 6\CSP352\static\images\tt.png" width="144" height="144"></a>
<li><a href="C:\Users\garima saha\OneDrive\Desktop\semester 6\CSP352\Templates\table.html" target="_blank"><h3> View Time table</h3></a></li>

<hr/>
<h3> My skills include: </h3>
<ul>
  <li>Languages:
    <ul>
    <li>Cpp</li>
    <li>Python</li>
    <li> Frontend:
<ul>
<li> Html</li>
<li> CSS</li>
<li>Javascript</li>
</ul>
</li>
    </ul>
  </li>
    <li>Database:
     <ul>
       <li>MySQL</li>
     </ul>
<li> Framework:
<ul>
<li> Flask</li>
</ul>
</ul>
 </ul>  
<hr/>
<a href="C:\Users\garima saha\OneDrive\Desktop\semester 6\CSP352\Templates\frame.html" target="_top"><h3> to the top</h3></a>

</body>
</html>