<h3> Educational Details </h3>
<hr/>
<p>
<h4>Graduation (2020-2024)</h4>
<address> Sharda University,Gautam Budh Nagar,Greater Noida,UP </address>
<code>B.Tech in Data Science</code>
</br>
<code> 8.51 </code>
</p>

<p>
<h4>Class XII     (2018-2019)</h4>
<address> Kendriya Vidyalaya no.1, afs Hindon,Ghaziabad </address>
<code> 90.6% </code>
</p>

<hr/>
<h3> Certifications </h3>
<hr/>
<ul>
<li> Nptel- Data Structures and programming with Python </li>
<li> IBM - Python for Data Science,AI & Developement </li>
<li> Smart India Hackathon 2022, Hardware edition - Runner up</li>
</ul>
<hr/>

<h3> Projects </h3>
<hr/>
<ol>
<li> <a href = https://github.com/gari950/summer-project-2022 target="_blank">Stock Market prediction and analysis web app</a></li>
<code>(April, 2022 - May,2022)</code>
</br>
<code><b>Python</b></code>
<p>In this project,I have worked with historical data about the stock prices of a publicly listed
company, to present a <b>recurrent neural network (RNN)</b> and <b>Long Short-Term Memory
(LSTM)</b> approach to predict stock market indices, also using <b>Streamlit</b> library to make a Web
app. Tech used is Python.
</p>

<li> <a href =https://github.com/gari950/Empower-her--web-app  target="_blank">Empower-Her web app</a></li>
<code>(September, 2022 - October,2022)</code>
</br>
<code><b>Html,Css,Javascript,Python</b></code>
<p>This website is a part of my Community connect
 project, the idea was to make a website as a helping 
aid for the girls hitting puberty,stay updated with
 health and hygiene practices.You can chat with
 Radha,our <b>chatbot</b> for faqs, general questions.This
 web app provides various resources including audio.
 video, articles, everything accumulated at one site 
for the ease of searching. You'll find everything in
 the resource center.Language friendly-You can access
 our website in two languages, hindi as well as 
english.
</p>
</ol>
<hr/>