<html>
<body>
<h3> Time table of semester VI</h3>
<table border="1" cellpadding="10">

<tr>
  <th>&nbsp;</th>
  <th colspan="9"> CS DS+IOT</th>
</tr>
<tr>
  <td>&nbsp;</td>
  <th>08:35AM-09:25AM</th>
  <th>09:30AM-10:25AM</th>
  <th>10:25AM-11:15AM</th>
   <th>11:20AM-12:10AM</th>
   <th>12:15AM-01:05AM</th>
  <th>01:10PM-02:00PM</th>
  <th>02:055PM-2:55PM</th>
  <th>03:00PM-03:50PM</th>
</tr>

<tr>
 <th>Monday</th>
 <td > Management for engineers</td>
 <td > Data analytics for IOT</td>
 <td > data exploration</td>
  <td >&nbsp;</td>
  <td colspan="2" rowspan="2">Web technology LAB</td>
 <td colspan="2" rowspan="2">data exploration LAB</td>
</tr>
<tr></tr>
<tr>
 <th rowspan="2" >Tuesday</th>
<td > Big data analytics</td>
 <td> &nbsp;</td>
 <td > web technologies</td>
  <td colspan="2">Technical bootcamp(JAVA)</td>
  <td colspan="2"> Big data analytics LAB</td>
 <td >ARP 306(Quants)</td>
</tr>

<tr></tr>
<tr>
 <th rowspan="2">Wednesday</th>
 <td >data exploration</td>
<td >data analytics for IOT</td>
<td >Big data analytics</td>
<td >&nbsp;</td>
<td >&nbsp;</td>
<td colspan="2" >Web & Text analysis LAB</td>
<td colspan="2" >&nbsp;</td>

</tr>

<tr></tr>
<tr>
 <th rowspan="2" >Thrusday</th>
<td >web technologies</td>
<td >management for engineers</td>
<td >data exploration</td>
<td >data analytics for IOT</td>
<td colspan="2">TSAP LAB</td>
<td >&nbsp;</td>
<td >web & text analysis</td>
</tr>

<tr></tr>
<tr>
 <th rowspan="2">Friday</th>
<td >BDA</td>
<td >ARP 306(Verbal)</td>
<td >ME</td>
<td >ARP 306(Quants)</td>
<td colspan="2" >PBL-4</td>
<td >web & tecxt analysis</td>
<td  colspan="2">&nbsp;</td>
</tr>
</table>
</body>
</html>