<html>
<body background="C:\Users\garima saha\OneDrive\Desktop\semester 6\CSP352\static\images\bg3.png">
<h3> Contents </h3>
<ul>
<li><a href="C:\Users\garima saha\OneDrive\Desktop\semester 6\CSP352\Templates\contents.html" target="showframe"><h3> About </h3></a></li>
<li><a href="C:\Users\garima saha\OneDrive\Desktop\semester 6\CSP352\Templates\contents.html" target="showframe"><h3> Educational Details </h3></a></li>
<li><a href="C:\Users\garima saha\OneDrive\Desktop\semester 6\CSP352\Templates\contents.html" target="showframe"><h3> Certifcates </h3></a></li>
<li><a href="C:\Users\garima saha\OneDrive\Desktop\semester 6\CSP352\Templates\contents.html" target="showframe"><h3> Projects </h3></a></li>
<li><a href="C:\Users\garima saha\OneDrive\Desktop\semester 6\CSP352\Templates\contents.html" target="showframe"><h3> Skills </h3></a></li>

</ul>
</body>
</html>