<!DOCTYPE html>
<html>
  <head>
    <title>My Web Page</title>
  </head>
  <body>
    <h1>Audio example</h1>

    <div>
   <audio controls>
  <source src="C:\Users\garima saha\OneDrive\Desktop\semester 6\CSP352\static\videos\Ariana_Grande_-_break_up_with_your_girlfriend_i_m_bored_Official_Video.mp3" type="audio/mpeg">
  </audio>
</div>

<h1> Video Example</h1>
<div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/0XyV-vw5II4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

</body>
</html>

  </body>
</html>
